<ion-header>
  <ion-toolbar color = "primary">
    <ion-buttons>
      <ion-button [routerLink]="['/home-stud/menu-student/menu-student', user, nrc]">
        <ion-icon name="arrow-undo-outline"></ion-icon>
      </ion-button>      
      <ion-label >Usuario: {{user}}</ion-label>
    </ion-buttons>
  </ion-toolbar>  
</ion-header>

<ion-content>
  <ion-card>
    <ion-header>
      <ion-toolbar>
        <ion-buttons>
          <ion-menu-button (click)="OpenMenuStud()" color = "primary" autoHide="false" menu="MenuStud"></ion-menu-button>
          <ion-title> Consultar Equipo </ion-title><br>
          <ion-title slot="end" > NRC: {{nrc}} , CURSO: {{materia}}</ion-title> <br>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
  </ion-card>

<ion-content>
   <ion-card> <ion-title>Equipos</ion-title> </ion-card>
   
</ion-content>

<ion-footer>
  <ion-toolbar color = "primary"></ion-toolbar>
</ion-footer>
