<ion-header>
  <ion-toolbar color = "primary">
    <ion-buttons>
      <ion-button [routerLink]="['/home-stud/menu-student/menu-student', user, nrc, nTrabajador]">
        <ion-icon name="arrow-undo-outline"></ion-icon>
      </ion-button>      
      <ion-avatar>
        <img src="https://www.cs.buap.mx/~secreacademica/images/minerva_icon.png">
      </ion-avatar>
      <ion-label >Usuario: {{user}}</ion-label>      
    </ion-buttons>
  </ion-toolbar>  
</ion-header>


  <ion-card>
    <ion-header>
      <ion-toolbar>
        <ion-buttons>
          <ion-menu-button (click)="OpenMenuStud()" color = "primary" autoHide="false" menu="MenuStud"></ion-menu-button>
          <ion-title> Equipo {{id}} </ion-title><br>
          <ion-title slot="end" > NRC: {{nrc}} , CURSO: {{materia}}</ion-title> <br>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
  </ion-card>

  <!-- opciones -->
    <ion-item>      
      <ion-button color = "primary" (click)="editar()"> Editar  </ion-button>
      <ion-button color = "primary" (click)="AlertDeleteStudentEquipo(user, id, nrc, nTrabajador)"> Salir del Equipo </ion-button>      
    </ion-item>
    <!-- Edita el nombre del equipo -->
    <div *ngIf="edit == true ">
      <ion-item class="form-group">                  
      <ion-card>
        <ion-toolbar>
          <ion-title>  Editar {{ equipo.nombre }} </ion-title>
          <ion-button color="danger" slot="end"  (click)="close()">
            <ion-icon name="close-sharp"></ion-icon>
          </ion-button>
        </ion-toolbar>              
        <ion-card>
          <form>                 
            <ion-item class="form-group">
              <ion-label position="floating"> Nombre de equipo </ion-label>
              <ion-input [(ngModel)]="nombre" name="nombre"></ion-input>              
            </ion-item>                
            <ion-item>
              <ion-toolbar>                    
                <ion-button slot="end"  (click)="editEquipoButton(equipo.id, nombre, nrc, nTrabajador)">
                  <ion-label> Guardar </ion-label>
                </ion-button>
              </ion-toolbar>
            </ion-item>
            </form>                                            
        </ion-card>       
      </ion-card>
      </ion-item>
    </div>

  

  <ion-content>
  <ion-content
  [scrollEvents]="true"
  (ionScrollStart)="logScrollStart()"
  (ionScroll)="logScrolling($event)"
  (ionScrollEnd)="logScrollEnd()">  
      
    <div slot="fixed">
      <ion-list>
      <tr  *ngFor="let equipo of equipos">        
        <ion-buttons>
          <tr *ngFor="let student of students">
            <div *ngIf="equipo.matricula == student.matricula ">
              {{equipo.matricula}}, {{student.nombre}}, {{student.correo}}

              <ion-button color="danger" (click)="AlertDeleteStudentEquipo(equipo.matricula, id, nrc, nTrabajador)" >                                                                 
                <ion-icon name="trash"></ion-icon> 
              </ion-button>

            </div>
          </tr>                          
        </ion-buttons>
      </tr>
      </ion-list>
    </div>
</ion-content>
</ion-content>


<ion-footer>
  <ion-toolbar color = "primary"></ion-toolbar>
</ion-footer>
