<ion-header>
  <ion-toolbar color = "primary">
    <ion-buttons>
      <ion-button [routerLink]="['/home-prof',user]">
        <ion-icon name="arrow-undo-outline"></ion-icon>
      </ion-button>      
      <ion-label >Usuario: {{user}}</ion-label>
    </ion-buttons>
  </ion-toolbar>  
</ion-header>

  <ion-card>
    <ion-card>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-menu-button (click)="OpenMenuProf()" color = "primary" autoHide="false" menu="MenuProf"></ion-menu-button>
            <ion-title> Crear curso </ion-title><br>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
    </ion-card>
  </ion-card>


<ion-content>
    <ion-label>Selecciona el  NRC </ion-label>
    <form>      
    <ion-card>      
      <ion-header>
        <ion-label> Selecciona </ion-label>
      </ion-header>                  
      <ion-item>          
        <ion-label>NRC</ion-label>
        <select name="miselect" [(ngModel)]="pCourse.nrc" name="nrc" >            
            <option [value]="course.nrc" *ngFor="let course of courses">NRC:{{course.nrc}},{{ course.materia}}</option>
        </select>                
      </ion-item> <br>
      <ion-label> {{pCourse.nrc}} </ion-label>            
    </ion-card>
  <ion-item>
    <ion-toolbar>
      <ion-button slot="end"   (click)=" AlertOne(pCourse.nrc)">
        <ion-label> Guardar </ion-label>
      </ion-button>
      <ion-button slot="end"   (click)=" getUSERNRC(user, pCourse.nrc)">
        <ion-label> prueba </ion-label>
      </ion-button>
      <ion-button slot="end"   (click)=" AlertOne(pCourse.nrc)">
        <ion-label> prueba2 </ion-label>
      </ion-button>      
    </ion-toolbar>
  </ion-item><br>
  </form>
  
  </ion-content>


<ion-footer>
  <ion-toolbar color = "primary"></ion-toolbar>
</ion-footer>


