<ion-header>
  <ion-toolbar color = "primary">
    <ion-buttons>
      <ion-button (click)="navStud()">
        <ion-icon name="arrow-undo-outline"></ion-icon>
      </ion-button>      
      <ion-avatar>
        <img src="https://www.cs.buap.mx/~secreacademica/images/minerva_icon.png">
      </ion-avatar>
      <ion-label >Usuario: {{user}}</ion-label>
    </ion-buttons>
  </ion-toolbar>  
</ion-header>

<ion-content>

  <ion-card>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button (click)="OpenMenuStud()" color = "primary" autoHide="false" menu="MenuStud"></ion-menu-button>
          <ion-title> Chat </ion-title><br>
          <p>{{nTrabajador}}</p>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
  </ion-card>
   
  <ion-card-content>
    <!-- CHAT GRUPO -->
    <ion-title *ngIf="boton==0"> CHAT GRUPAL </ion-title>
    <ion-button *ngIf="boton==0" color="primary" (click)="chatCurso()"> 
      <ion-icon name="chatbox-outline"></ion-icon>
      <ion-label> {{curso}} </ion-label>                                
    </ion-button>

    <div class="chatContainer" *ngIf="boton > 1">
      <p [ngClass]="{'local': message.matricula == user, 'remoto': message.noTrabajador != user && message.matricula != user}" 
          *ngFor="let message of webSocketService.chats">{{message.matricula}} {{message.mensaje}} - {{message.nombre}}</p>
    </div>
    
    <div class="inputContainer" *ngIf="boton > 1">
        <form (submit)="sendMessage()" >
            <input [(ngModel)]="chat.mensaje" [ngModelOptions]="{standalone:true}" type="text">
        </form>
    </div>


    <!-- Chat equipos -->
    <ion-title *ngIf="boton2==0"> CHAT EQUIPO </ion-title>
    
    
    <ion-button *ngIf="boton2==0" color="primary" (click)="obtenerMensajesCursoEquipo()">
      <ion-icon name="chatbox-outline"></ion-icon>
      <ion-label> {{equipos}} </ion-label>                                
    </ion-button>   

    <div class="chatContainer" *ngIf="boton2 > 1">
      <p [ngClass]="{'local': message.matricula == user, 'remoto': message.noTrabajador != user && message.matricula != user}" 
          *ngFor="let message of webSocketService.chatsEquipo">{{message.matricula}} {{message.mensaje}} - {{message.nombre}}</p>
    </div>
    
    <div class="inputContainer" *ngIf="boton2 > 1">
        <form (submit)="sendMessageEquipo()" >
            <input [(ngModel)]="chatE.mensaje" [ngModelOptions]="{standalone:true}" type="text">
        </form>
    </div>
   </ion-card-content>

   <ion-button (click)="atras2()" *ngIf="boton2 > 1 || boton > 1">
    <ion-icon name="arrow-undo-outline"></ion-icon>
  </ion-button> 
</ion-content>

<ion-footer>
  <ion-toolbar color = "primary"></ion-toolbar>
</ion-footer>
