<ion-header>
  <ion-toolbar color = "primary">
    <ion-buttons>
      <ion-button [routerLink]="['/home-stud/menu-student/menu-student', user, nrc]">
        <ion-icon name="arrow-undo-outline"></ion-icon>
      </ion-button>      
      <ion-avatar>
        <img src="https://www.cs.buap.mx/~secreacademica/images/minerva_icon.png">
      </ion-avatar>
      <ion-label >Usuario: {{user}}</ion-label>
    </ion-buttons>
  </ion-toolbar>  
</ion-header>

<ion-content>

  <ion-card>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button (click)="OpenMenuStud()" color = "primary" autoHide="false" menu="MenuStud"></ion-menu-button>
          <ion-title> Chat </ion-title><br>
          <p>{{nTrabajador}}</p>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
  </ion-card>
   
  <ion-card-content>
    <div class="chatContainer">
      <p [ngClass]="{'local': message.matricula == user, 'remoto': message.matricula != user }" 
          *ngFor="let message of webSocketService.chats">{{message.mensaje}} - {{message.nombre}}</p>
    </div>
    
    <div class="inputContainer">
        <form (submit)="sendMessage()" >
            <input [(ngModel)]="chat.mensaje" [ngModelOptions]="{standalone:true}" type="text">
        </form>
    </div>
   </ion-card-content>
</ion-content>

<ion-footer>
  <ion-toolbar color = "primary"></ion-toolbar>
</ion-footer>
