<ion-header>
  <ion-toolbar color = "primary">
    <ion-buttons>
      <ion-button [routerLink]="['/home-stud/curso/consultar',user]">
        <ion-icon name="arrow-undo"></ion-icon>
      </ion-button>
      <ion-avatar>
        <img src="https://www.cs.buap.mx/~secreacademica/images/minerva_icon.png">
      </ion-avatar>
      <ion-label >Usuario: {{user}}</ion-label>      
    </ion-buttons>          
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card>
      <ion-header>
        <ion-toolbar>
          <ion-buttons>
            <ion-menu-button (click)="OpenMenuStud()" color = "primary" autoHide="false" menu="MenuStud"></ion-menu-button>
            <ion-title> Menu Estudiante </ion-title><br>
            <ion-title slot="end" > NRC: {{nrc}} , CURSO: {{materia}}</ion-title> <br>
          </ion-buttons>          
        </ion-toolbar>
      </ion-header>
    </ion-card>

  <ion-card>
    <h1> Administar perfil  </h1> <br>
    <ion-button [routerLink] = "['/home-stud/estudiante/consultar-estudiante',user, nrc, materia, nTrabajador]">   Alumnos </ion-button>
    <ion-button [routerLink] = "['/home-stud/estudiante/perfil',user,nrc,materia]">   Perfil </ion-button> 
    <br><br>
  </ion-card>
  <ion-card>
      <h1> Gestionar equipo </h1> <br>
      <ion-button [routerLink] = "['/home-stud/equipo/consultar-equipo',user,nrc,materia,equipo.id,nTrabajador]">Consultar {{equipo.nombre}}</ion-button>    
      <ion-button [routerLink] = "['/home-stud/reporte/reporte',user,nrc, materia]">   Generar reporte  </ion-button>
        <br><br>
  </ion-card>    
  <ion-card>
    <h1> Gestionar actividades </h1> <br>
    <ion-button [routerLink] = "['/home-stud/actividades/consultar-actividad',user,nrc,equipo.id,nTrabajador]">   Consultar actividades </ion-button>
    <br><br>
</ion-card>
<ion-card>
  <h1> Gestionar comunicacion </h1> <br>
  <ion-button [routerLink] = "['/home-stud/comunicacion/avisos',user,nrc]">   Avisos </ion-button>
  <ion-button [routerLink] = "['/home-stud/comunicacion/chat',user,nrc,nTrabajador,equipo.id,materia]">   Chat </ion-button>
  <br><br>
</ion-card>
<ion-card>
  <ion-button [routerLink] = "['/home-stud/reporte/calificacion-promedio',user,nrc]">   Ver reporte de calificaciones y promedio </ion-button>
  <br><br>
</ion-card>

</ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar color = "primary"></ion-toolbar>
</ion-footer>
