<ion-header>
  <ion-toolbar color = "primary">
    <ion-buttons>
      <ion-button [routerLink]="'../../home-admi'">
        <ion-icon name="arrow-undo-outline"></ion-icon>
      </ion-button>      
      <ion-label >Usuario: {{user}}</ion-label>
    </ion-buttons>
  </ion-toolbar>  
</ion-header>

<h1 slot="start"> Eliminar de Cursos</h1>

<ion-content>
<ion-content
  [scrollEvents]="true"
  (ionScrollStart)="logScrollStart()"
  (ionScroll)="logScrolling($event)"
  (ionScrollEnd)="logScrollEnd()">
      
    <div slot="fixed">
      <ion-list>
      <tr  *ngFor="let pCourse of pCourses">

        <div *ngIf="pCourse.nTrabajador == user;">
          
            <ion-label>NRC:[ {{pCourse.nrc}} ]-[ {{pCourse.nTrabajador}} ]</ion-label>       

            <ion-button color="danger">
              <ion-button color="danger" (click)="AlertOne(pCourse.nTrabajador, pCourse.nrc)">Eliminar</ion-button>
              <ion-icon name="trash"></ion-icon>
            </ion-button>

        </div>                                      
    </tr>
  </ion-list>
  </div>
</ion-content>
</ion-content> 

<ion-card>
  <ion-item>    
    <ion-button slot="end" color="danger" (click)="AlertAll()">
      <ion-label> Eliminar Todo </ion-label>
      <ion-icon slot="end" name="trash"></ion-icon> 
    </ion-button>
  </ion-item>
</ion-card>


<ion-footer>
  <ion-toolbar color = "primary"></ion-toolbar>
</ion-footer>


