<ion-header>
  <ion-toolbar color = "primary">
    <ion-buttons>
      <ion-button [routerLink]="['/home-prof/curso/consult-course',user]">
        <ion-icon name="arrow-undo"></ion-icon>
      </ion-button>
      <ion-label >Usuario:{{user}} </ion-label>      
    </ion-buttons>  
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card>
      <ion-header>
        <ion-toolbar>
          <ion-buttons>
            <ion-menu-button (click)="OpenMenuProf()"  color="primary" autoHide="false" menu-id="MenuProf"></ion-menu-button>
            <ion-title> Menu Profesor </ion-title> 
            <ion-title > NRC: {{nrc}} , CURSO: {{curso}}</ion-title> <br>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
    </ion-card>

    <ion-card>
      <h1>Administar estudiante</h1>
      <ion-button [routerLink] = "['/home-prof/estudiante/subir-estudiante',user,nrc,curso]">   Subir estudiante  </ion-button>
      <ion-button [routerLink] = "['/home-prof/estudiante/consultar-estudiante',user,nrc,curso]">   Consultar estudiante   </ion-button>
  <!--    <ion-button [routerLink] = "['/home-prof/estudiante/eliminar-estudiante']">   Eliminar estudiante   </ion-button> -->
    </ion-card>
    <ion-card>
        <h1> Gestionar equipo </h1> <br>
        <ion-button [routerLink] = "['/home-prof/equipo/generar-equipo',user,nrc,curso]">   Generar equipo </ion-button>
        <ion-button [routerLink] = "['/home-prof/equipo/consultar-equipo',user,nrc,curso]">   Consultar equipo </ion-button>
  <!--      <ion-button [routerLink] = "'/home-prof/equipo/modificar-equipo'">   Modificar equipo </ion-button> -->
  <!--      <ion-button [routerLink] = "'/home-prof/equipo/eliminar-equipo'">   Eliminar equipo </ion-button>-->
        <br><br>
    </ion-card>    
    <ion-card>
      <h1>Gestionar actividades</h1>
      <ion-button [routerLink] = "'/home-prof/actividades/alta-actividad'">   Dar de alta actividad  </ion-button>
      <ion-button [routerLink] = "'/home-prof/actividades/consultar-actividad'">   Consultar actividad   </ion-button>
      <ion-button [routerLink] = "'/home-prof/actividades/modificar-actividad'">   Modificar actividad   </ion-button>
      <ion-button [routerLink] = "'/home-prof/actividades/eliminar-actividad'">   Eliminar actividad   </ion-button>
      <ion-button [routerLink] = "'/home-prof/actividades/evaluar-actividad'">   Evaluar actividad   </ion-button>
    </ion-card>
    <ion-card>
      <h1>Gestionar comunicacion</h1>
      <ion-button [routerLink] = "'/home-prof/avisos/avisos'">   Avisos  </ion-button>
      <ion-button >   Chat  </ion-button>
    </ion-card>

  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar color = "primary"></ion-toolbar>
</ion-footer>
