.ioncont{
    width: 100%;
    display: flex;
    justify-items: center;
    font-family: sans-serif;
    flex-wrap: wrap;
}
h1{
    margin-left: 30px;
}
.contai{
    width: 100%;
    display: flex;
    max-width: 200px;
    margin-left: 30px;
}
.car{
    width: 100%;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease;
    text-align: center;
}
.car .conte{
    text-align: center;
}
.car .conte h3{
    text-transform: uppercase;
    font-weight: bold;
    margin: 0px;
}