<ion-header>
  <ion-toolbar color = "primary">
    <ion-buttons>
      <ion-button [routerLink]="['/home-prof',user]">
        <ion-icon name="arrow-undo-outline"></ion-icon>
      </ion-button>      
      <ion-avatar>
        <img src="https://www.cs.buap.mx/~secreacademica/images/minerva_icon.png">
      </ion-avatar>
      <ion-label >Usuario: {{user}}</ion-label>
    </ion-buttons>
  </ion-toolbar>  
</ion-header>

<ion-card>
  <h1> Lista de Cursos</h1>
</ion-card>

<ion-content>
<ion-content
  [scrollEvents]="true"
  (ionScrollStart)="logScrollStart()"
  (ionScroll)="logScrolling($event)"
  (ionScrollEnd)="logScrollEnd()">
      
    <div class="iocont" slot="fixed">
      
      <tr  *ngFor="let pCourse of pCourses" >           
        <div *ngIf="pCourse.nTrabajador == user;">             
            <tr *ngFor="let course of courses">
              <div *ngIf="course.nrc == pCourse.nrc">
                
                <div class="container" *ngIf="course.nrc == pCourse.nrc">
                  <div class="card">
                    <img src="https://thumbs.dreamstime.com/b/colores-de-textura-cuero-artificial-color-azul-brillante-vista-superior-copiar-espacio-elegante-para-fondo-con-detalles-visibles-171422230.jpg">
                    <div class="contenido">
                      <ion-list>
                        <ion-list-header>
                          <h3 class="title">{{course.materia}}</h3>
                        </ion-list-header>
                        <ion-item>
                          <p>Clave: {{course.clave}}</p>
                        </ion-item>
                        <ion-item>
                          <p>Sección: {{course.seccion}} NRC:{{pCourse.nrc}}</p>
                        </ion-item>
                        <ion-item>
                          <p>Horario:{{course.horario}}</p>
                        </ion-item>
                      </ion-list>
                      <ion-button color="tertiary"  [routerLink]="['../../menu-prof',user, pCourse.nrc]" >Ver Curso                  
                        &nbsp;<ion-icon name="eye-outline"></ion-icon>
                     </ion-button>
                    </div>
                  </div>
                </div>
                
              </div>
            </tr>                             
        </div>     
    </tr>
  </div>
  
</ion-content>
</ion-content> 

<ion-footer>
  <ion-toolbar color = "primary"></ion-toolbar>
</ion-footer>


