<ion-header>
  <ion-toolbar color = "primary">
    <ion-buttons>
      <ion-button [routerLink]="['/home-prof',user]">
        <ion-icon name="arrow-undo-outline"></ion-icon>
      </ion-button>      
      <ion-label >Usuario: {{user}}</ion-label>
    </ion-buttons>
  </ion-toolbar>  
</ion-header>

<h1 slot="start"> Lista de Cursos</h1>

<ion-content>
<ion-content
  [scrollEvents]="true"
  (ionScrollStart)="logScrollStart()"
  (ionScroll)="logScrolling($event)"
  (ionScrollEnd)="logScrollEnd()">
      
    <div slot="fixed">
      <ion-list>
      <tr  *ngFor="let pCourse of pCourses">

           [ {{pCourse.nrc}} ]
        
            <ion-button color="secondary">            
              <ion-button color="secondary" (click)="getNrcCourse(pcourse.nrc);" [routerLink]="['../../menu-prof',user]">ver curso</ion-button>
              <ion-icon name="eye-outline"></ion-icon>
            </ion-button>
            
    </tr>
  </ion-list>
  </div>
</ion-content>
</ion-content> 

<ion-footer>
  <ion-toolbar color = "primary"></ion-toolbar>
</ion-footer>


