<ion-header>
  <ion-toolbar color = "primary">
    <ion-buttons>
      <ion-button [routerLink]="['/home-prof',user]">
        <ion-icon name="arrow-undo-outline"></ion-icon>
      </ion-button>      
      <ion-label >Usuario: {{user}}</ion-label>
    </ion-buttons>
  </ion-toolbar>  
</ion-header>

<ion-card>
  <h1> Lista de Cursos</h1>
</ion-card>

<ion-content>
<ion-content
  [scrollEvents]="true"
  (ionScrollStart)="logScrollStart()"
  (ionScroll)="logScrolling($event)"
  (ionScrollEnd)="logScrollEnd()">
      
    <div slot="fixed">
      
      <tr  *ngFor="let pCourse of pCourses" >           
        <div *ngIf="pCourse.nTrabajador == user;">            
          <ion-card color="medium">            
            <tr *ngFor="let course of courses">
              <div *ngIf="course.nrc == pCourse.nrc">
                <ion-button color="tertiary"  [routerLink]="['../../menu-prof',user, pCourse.nrc]" >ver curso                  
                   &nbsp;<ion-icon name="eye-outline"></ion-icon>
                </ion-button>                
                <ion-label >&nbsp;
                  NRC:[{{pCourse.nrc}}], Materia:[{{course.materia}}], {{pCourse.nTrabajador}}    
                </ion-label>
              </div>
            </tr>                     
          </ion-card>          
        </div>     
    </tr>
  
  </div>
</ion-content>
</ion-content> 

<ion-footer>
  <ion-toolbar color = "primary"></ion-toolbar>
</ion-footer>


