<ion-header>
  <ion-toolbar color = "primary">
    <ion-buttons>
      <ion-button [routerLink]="'/home'">
        <ion-icon name="arrow-undo"></ion-icon>
      </ion-button>
      <ion-avatar>
        <img src="https://www.cs.buap.mx/~secreacademica/images/minerva_icon.png">
      </ion-avatar>
      <ion-label >Usuario: {{user}}</ion-label>      
    </ion-buttons>  
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-menu-button (click)="OpenMenuStud()" color = "primary" autoHide="false" menu="MenuStud"></ion-menu-button>
            <ion-title> Estudiante </ion-title><br>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
    </ion-card>
    <ion-card>
        <h1> Gestionar curso </h1> <br>
        <ion-button [routerLink] = "['../home-stud/consultar',user]">   Consultar curso   </ion-button>
        <br><br>
    </ion-card>

  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar color = "primary"></ion-toolbar>
</ion-footer>
