<ion-header>
  <ion-toolbar color = "primary">
    <ion-buttons>
      <ion-back-button slot = "start"> </ion-back-button>      
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-card>
  <ion-header>
    <ion-title> Curso </ion-title>
  </ion-header>
</ion-card>

<ion-content>
<tr class="col-md-4 offset-md-2">
  <ion-card>
    <form>
    <ion-item class="form-group">
      <ion-label position="floating"> Materia </ion-label>
      <ion-input [(ngModel)]="course.materia" name="materia" ></ion-input>
    </ion-item>  
    <ion-item class="form-group">
      <ion-label position="floating"> NRC </ion-label>
      <ion-input [(ngModel)]="course.nrc" name="nrc" ></ion-input>
    </ion-item>    
    <ion-item class="form-group">
      <ion-label position="floating"> clave </ion-label>
      <ion-input [(ngModel)]="course.clave" name="clave" ></ion-input>
    </ion-item>
    <ion-item class="form-group">
      <ion-label position="floating"> Seccion </ion-label>
      <ion-input [(ngModel)]="course.seccion" name="seccion" ></ion-input>
    </ion-item> 
    <ion-item class="form-group">
      <ion-label position="floating"> Horario </ion-label>
      <ion-input [(ngModel)]="course.Horario" name="Horario" ></ion-input>
    </ion-item> 
    <ion-item>
      <ion-toolbar>
        <ion-button  (click)=" edit ? updateCourse() : saveNewCourse()"  >
          <ion-label> Guardar </ion-label>
        </ion-button>
      </ion-toolbar>
    </ion-item>
    </form>
  </ion-card>
</tr>
</ion-content>


<ion-footer>
  <ion-toolbar color = "primary"></ion-toolbar>
</ion-footer>
