<ion-header>
  <ion-toolbar color = "primary">
    <ion-buttons>
      <ion-button (click)="navStud()">
        <ion-icon name="arrow-undo-outline"></ion-icon>
      </ion-button>      
      <ion-avatar>
        <img src="https://www.cs.buap.mx/~secreacademica/images/minerva_icon.png">
      </ion-avatar>
      <ion-label >Usuario: {{user}}</ion-label>
    </ion-buttons>
  </ion-toolbar>  
</ion-header>

  <ion-card>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button (click)="OpenMenuStud()" color = "primary" autoHide="false" menu="MenuStud"></ion-menu-button>
          <ion-title> Consultar Actividad </ion-title><br>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
  </ion-card>

<ion-content>
  <ion-content
    [scrollEvents]="true"
    (ionScrollStart)="logScrollStart()"
    (ionScroll)="logScrolling($event)"
    (ionScrollEnd)="logScrollEnd()">

    <div slot="fixed">
      <ion-card-content>
        
        <div class="contai" *ngIf="boton==0">
          <div class="car">
            <ion-icon name="person-sharp" size="large"></ion-icon>
            <div class="conte">
              <h3>visualizar actividades individuales</h3>
              <ion-button (click)="condicion1()"> Ver </ion-button>
            </div>
          </div>
        </div>
    
        <div class="contai" *ngIf="boton==0">
          <div class="car">
            <ion-icon name="people-sharp" size="large"></ion-icon>
            <div class="conte">
              <h3>visualizar actividades por equipo</h3>
              <ion-button (click)="condicion2()"> Equipos </ion-button>
            </div>
          </div>
        </div>

        <tr  *ngFor="let activity of actividades">                   
          <div class="container" *ngIf="boton==1">
            <div class="card">
              <img src="https://thumbs.dreamstime.com/b/colores-de-textura-cuero-artificial-color-azul-brillante-vista-superior-copiar-espacio-elegante-para-fondo-con-detalles-visibles-171422230.jpg">
              <div class="contenido">
                <ion-list>
                  <ion-list-header>
                    <ion-label>{{activity.id}} : {{activity.nombre}}</ion-label>
                  </ion-list-header>
                  <ion-item>
                    <p>{{activity.descripcion}}</p>
                  </ion-item>
                  <ion-item *ngIf=" activity.calificacion > 0 ">
                    <p>Calificada <ion-icon color="success"  name="checkmark-sharp"></ion-icon></p>
                  </ion-item>
                  <ion-item *ngIf="activity.fechaEntrega == activity.fechaEstudiante && activity.calificacion == 0 && activity.fechaEstudiante != '0000-00-00' || activity.fechaEntrega > activity.fechaEstudiante && activity.calificacion == 0 && activity.fechaEstudiante != '0000-00-00'">
                    <p>Entregada <ion-icon color="success"  name="checkmark-sharp"></ion-icon></p>
                  </ion-item>
                  <ion-item *ngIf="activity.fechaEstudiante == '0000-00-00' ">
                    <p>Aún no entregada <ion-icon color="danger" name="warning-sharp"></ion-icon></p>
                  </ion-item>
                  <ion-item *ngIf="activity.fechaEstudiante != '0000-00-00' && activity.fechaEntrega < activity.fechaEstudiante ">
                    <p>Entrega con retardo <ion-icon color="warning" name="alert-circle-outline"></ion-icon></p>
                  </ion-item>
                  <ion-item *ngIf="activity.urlEstudiante">
                    <a href="{{activity.urlEstudiante}}">Trabajo: {{activity.urlEstudiante}}</a><br>
                  </ion-item>
                  <ion-item>
                    <p>Entrega: {{activity.fechaEntrega}} antes de las {{activity.horaEntrega}}</p>
                  </ion-item>
                </ion-list>
                <a *ngIf="activity.urlEstudiante == '' " [routerLink] = "['/home-stud/actividades/entregar-actividad',user,nrc,nTrabajador,activity.id_equipo,
                                    activity.id, activity.nombre, activity.descripcion, activity.fecha, activity.fechaEntrega,
                                    activity.horaEntrega, activity.calificacion, activity.urlProfesor, activity.urlEstudiante, 
                                    activity.fechaEstudiante, activity.comentarioProfesor, curso, activity.horaEstudiante]" (click)="regresar()">Consultar Actividad</a>
                <a *ngIf="activity.urlEstudiante != '' && activity.calificacion == 0" [routerLink] = "['/home-stud/actividades/entregar-actividad',user,nrc,nTrabajador,activity.id_equipo,
                                    activity.id, activity.nombre, activity.descripcion, activity.fecha, activity.fechaEntrega,
                                    activity.horaEntrega, activity.calificacion, activity.urlProfesor, activity.urlEstudiante, 
                                    activity.fechaEstudiante, activity.comentarioProfesor, curso, activity.horaEstudiante]" (click)="regresar()">Editar Entrega Actividad</a>
                <a *ngIf="activity.calificacion > 0" [routerLink] = "['/home-stud/actividades/entregar-actividad',user,nrc,nTrabajador,activity.id_equipo,
                                    activity.id, activity.nombre, activity.descripcion, activity.fecha, activity.fechaEntrega,
                                    activity.horaEntrega, activity.calificacion, activity.urlProfesor, activity.urlEstudiante, 
                                    activity.fechaEstudiante, activity.comentarioProfesor, curso, activity.horaEstudiante]" (click)="regresar()">Calificación: {{activity.calificacion}}</a>
              </div>
            </div>
          </div>
        </tr>
    
        
        <tr  *ngFor="let activity of actividadesE">                   
            
          <div class="container" *ngIf="boton==2">
              <div class="card">
                <img src="https://thumbs.dreamstime.com/b/colores-de-textura-cuero-artificial-color-azul-brillante-vista-superior-copiar-espacio-elegante-para-fondo-con-detalles-visibles-171422230.jpg">
    
                <div class="contenido">
                  <ion-list>
                    <ion-list-header>
                      <ion-label>Equipo: {{equipos[activity.id_equipo].nombre}}</ion-label>
                    </ion-list-header>
                    <ion-list-header>
                      <ion-label>{{activity.id}} : {{activity.nombre}}</ion-label>
                    </ion-list-header>
                    <ion-item>
                      <p>{{activity.descripcion}}</p>
                    </ion-item>
                    <ion-item *ngIf=" activity.calificacion > 0 ">
                      <p>Calificada <ion-icon color="success"  name="checkmark-sharp"></ion-icon></p>
                    </ion-item>
                    <ion-item *ngIf="activity.fechaEntrega == activity.fechaEstudiante && activity.calificacion == 0 && activity.fechaEstudiante != '0000-00-00' || activity.fechaEntrega > activity.fechaEstudiante && activity.calificacion == 0 && activity.fechaEstudiante != '0000-00-00'">
                      <p>Entregada <ion-icon color="success"  name="checkmark-sharp"></ion-icon></p>
                    </ion-item>
                    <ion-item *ngIf="activity.fechaEstudiante == '0000-00-00' ">
                      <p>Aún no entregada <ion-icon color="danger" name="warning-sharp"></ion-icon></p>
                    </ion-item>
                    <ion-item *ngIf="activity.fechaEstudiante != '0000-00-00' && activity.fechaEntrega < activity.fechaEstudiante ">
                      <p>Entrega con retardo <ion-icon color="warning" name="alert-circle-outline"></ion-icon></p>
                    </ion-item>
                    <ion-item *ngIf="activity.urlEstudiante">
                      <a href="{{activity.urlEstudiante}}">Trabajo: {{activity.urlEstudiante}}</a><br>
                    </ion-item>
                    <ion-item>
                      <p>Entrega: {{activity.fechaEntrega}} antes de las {{activity.horaEntrega}}</p>
                    </ion-item>
                  </ion-list>
                  <a *ngIf="activity.urlEstudiante == '' " [routerLink] = "['/home-stud/actividades/entregar-actividad',user,nrc,nTrabajador,activity.id_equipo,
                                    activity.id, activity.nombre, activity.descripcion, activity.fecha, activity.fechaEntrega,
                                    activity.horaEntrega, activity.calificacion, activity.urlProfesor, activity.urlEstudiante, 
                                    activity.fechaEstudiante, activity.comentarioProfesor, curso, activity.horaEstudiante]" (click)="regresar()">Consultar Actividad</a>
                  <a *ngIf="activity.urlEstudiante != '' && activity.calificacion == 0" [routerLink] = "['/home-stud/actividades/entregar-actividad',user,nrc,nTrabajador,activity.id_equipo,
                                      activity.id, activity.nombre, activity.descripcion, activity.fecha, activity.fechaEntrega,
                                      activity.horaEntrega, activity.calificacion, activity.urlProfesor, activity.urlEstudiante, 
                                      activity.fechaEstudiante, activity.comentarioProfesor, curso, activity.horaEstudiante]" (click)="regresar()">Editar Entrega Actividad</a>
                  <a *ngIf="activity.calificacion > 0" [routerLink] = "['/home-stud/actividades/entregar-actividad',user,nrc,nTrabajador,activity.id_equipo,
                                      activity.id, activity.nombre, activity.descripcion, activity.fecha, activity.fechaEntrega,
                                      activity.horaEntrega, activity.calificacion, activity.urlProfesor, activity.urlEstudiante, 
                                      activity.fechaEstudiante, activity.comentarioProfesor, curso, activity.horaEstudiante]" (click)="regresar()">Calificación: {{activity.calificacion}}</a>
                </div>
              </div>
            </div>
          </tr>
          <ion-button (click)="regresar()" *ngIf="boton == 1 || boton==2">
            <ion-icon name="arrow-undo-outline"></ion-icon>
          </ion-button>  
      </ion-card-content>
    </div>
  </ion-content>
</ion-content>

<ion-footer>
  <ion-toolbar color = "primary"></ion-toolbar>
</ion-footer>
