<ion-header>
  <ion-toolbar color = "primary">
    <ion-buttons>
      <ion-button [routerLink]="['/home-stud/menu-student/menu-student', user, nrc]">
        <ion-icon name="arrow-undo-outline"></ion-icon>
      </ion-button>      
      <ion-avatar>
        <img src="https://www.cs.buap.mx/~secreacademica/images/minerva_icon.png">
      </ion-avatar>
      <ion-label >Usuario: {{user}}</ion-label>
    </ion-buttons>
  </ion-toolbar>  
</ion-header>

<ion-content>
  <ion-card>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button (click)="OpenMenuStud()" color = "primary" autoHide="false" menu="MenuStud"></ion-menu-button>
          <ion-title> Consultar Actividad </ion-title><br>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
  </ion-card>

   <ion-card-content>
    <ion-title>Actividades individuales</ion-title>
    <tr  *ngFor="let activity of actividades">                   
      <ion-button (click)="a()" [routerLink]="['/home-prof/actividades/modificar-actividad',activity.id,activity.id_equipo,activity.noTrabajador,activity.nrc]" color="primary" >                  
        ver
      </ion-button> 
        {{ activity.id }}, {{ activity.nombre}}, {{activity.fecha}}, {{activity.fechaEntrega}}
    </tr>
    <ion-title>Actividades por equipo</ion-title>
    <tr  *ngFor="let activity of actividadesE">                   
      <ion-button (click)="a()" [routerLink]="['/home-prof/actividades/modificar-actividad',activity.id,activity.id_equipo,activity.noTrabajador,activity.nrc]" color="primary" >                  
        ver
      </ion-button> 
        {{ activity.id }}, {{ activity.nombre}}, {{activity.fecha}}, {{activity.fechaEntrega}}
    </tr>
   </ion-card-content>

</ion-content>

<ion-footer>
  <ion-toolbar color = "primary"></ion-toolbar>
</ion-footer>
