<ion-header>
  <ion-toolbar color = "primary">
    <ion-buttons>
      <ion-back-button slot = "start"> </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

    <ion-card>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-menu-button (click)="OpenMenuProf()" color = "primary" autoHide="false" menu="MenuProf"></ion-menu-button>
            <ion-title> Eliminar alumnos </ion-title><br>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
    </ion-card>

<!----------------------------------------------------------------------------->

<ion-content>
  <ion-content
    [scrollEvents]="true"
    (ionScrollStart)="logScrollStart()"
    (ionScroll)="logScrolling($event)"
    (ionScrollEnd)="logScrollEnd()">
        
      <div slot="fixed">
        <ion-list>
          <tr  *ngFor="let student of students" >                            
           <ion-card color="light">&nbsp;
              <ion-button color="danger" (click)="AlertOne(student.matricula, student.nrc)"  >
                <ion-icon name="trash"></ion-icon>
              </ion-button>
                Matricula:{{student.matricula}}, NRC:{{student.nrc}}&nbsp;&nbsp;  
           </ion-card>                  
          </tr>
        </ion-list>
    </div>
  </ion-content>
  </ion-content>
   
<!----------------------------------------------------------------------------->       
<ion-card>
  <ion-item>    
    <ion-button slot="end" color="danger" (click)="AlertAll()">
      <ion-label> Eliminar Todo </ion-label>
      <ion-icon slot="end" name="trash"></ion-icon> 
    </ion-button>
  </ion-item>
</ion-card>

<ion-footer>
  <ion-toolbar color = "primary"></ion-toolbar>
</ion-footer>
