<ion-header>
  <ion-toolbar color = "primary">
    <ion-buttons>
      <ion-back-button slot = "start"> </ion-back-button>
      <ion-label >Profesor: {{user}} </ion-label>     
    </ion-buttons>
  </ion-toolbar>
</ion-header>


    <ion-card>
      <ion-header>
        <ion-toolbar>
          <ion-buttons>
            <ion-menu-button (click)="OpenMenuProf()" color = "primary" autoHide="false" menu="MenuProf"></ion-menu-button>
            <ion-title> consultar equipos </ion-title><br>
            <ion-item slot="end">
              <ion-label>Curso: {{nrc}},{{curso}} </ion-label>   
           </ion-item>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
    </ion-card>

    <ion-content>
      <ion-content
        [scrollEvents]="true"
        (ionScrollStart)="logScrollStart()"
        (ionScroll)="logScrolling($event)"
        (ionScrollEnd)="logScrollEnd()">
            
          <div slot="fixed">
            <ion-list>
            <tr  *ngFor="let equipo of equipos">

              
                <ion-button color="secondary" >
                  <ion-icon name="add-outline"></ion-icon>
                  <ion-label>Agregar alumno al equipo: </ion-label>                  
                </ion-button>                    
                         
                {{ equipo.nombre }},<!-- id:{{ equipo.id }}-->
              
          </tr>
        </ion-list>
        </div>
      </ion-content>
      </ion-content> 


<ion-footer>
  <ion-toolbar color = "primary"></ion-toolbar>
</ion-footer>
