<ion-header>
  <ion-toolbar color = "primary">
    <ion-buttons>
      <ion-back-button slot = "start"> </ion-back-button>
      <ion-label >Usuario:{{user}} </ion-label>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


    <ion-card>
      <ion-header>
        <ion-toolbar>
          <ion-buttons>
            <ion-menu-button (click)="OpenMenuProf()" color = "primary" autoHide="false" menu="MenuProf"></ion-menu-button>
            <ion-title> consultar equipo </ion-title><br>
            <ion-item slot="end">
              <ion-label>Curso:{{ nrc}},{{ curso}} </ion-label>   
            </ion-item>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
    </ion-card>

    <ion-content>
      <ion-content
        [scrollEvents]="true"
        (ionScrollStart)="logScrollStart()"
        (ionScroll)="logScrolling($event)"
        (ionScrollEnd)="logScrollEnd()">
            
          <div slot="fixed">
            <ion-list>
            <tr  *ngFor="let equipo of equipos">

              <ion-button color="primary" >
                <ion-icon name="add-outline"></ion-icon>
                <ion-label>agregar</ion-label>
              </ion-button>

              <ion-button color="primary">
                &nbsp;<ion-icon name="eye-outline"></ion-icon> 
                <ion-label>ver</ion-label>                                
              </ion-button>
            
              <ion-button color="primary" >
                <ion-icon name="pencil-outline"></ion-icon>
                <ion-label>editar</ion-label>
              </ion-button>
              
              <ion-button color="danger" (click)="AlertOne(equipo.id, equipo.nombre)">                                          
                <ion-icon name="trash"></ion-icon>
                <ion-label>eliminar</ion-label>
              </ion-button>
                         
                 {{ equipo.id }}, {{ equipo.nombre }}, {{ equipo.curso_nrc }}, {{equipo.nTrabajador}} 
              
          </tr>
        </ion-list>
        </div>
      </ion-content>
      </ion-content> 

      <ion-card>
        <ion-item>    
          <ion-button slot="end" color="danger" (click)="AlertAll(nrc, nTrabajador)">
            <ion-label> Eliminar Todo </ion-label>
            <ion-icon slot="end" name="trash"></ion-icon> 
          </ion-button>
        </ion-item>
      </ion-card>


<ion-footer>
  <ion-toolbar color = "primary"></ion-toolbar>
</ion-footer>
