<ion-header>
  <ion-toolbar color = "primary">
    <ion-buttons>
      <ion-back-button slot = "start"> </ion-back-button>
      <ion-label >Usuario:{{user}} </ion-label>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


    <ion-card>
      <ion-header>
        <ion-toolbar>
          <ion-buttons>
            <ion-menu-button (click)="OpenMenuProf()" color = "primary" autoHide="false" menu="MenuProf"></ion-menu-button>
            <ion-title> Generar equipo </ion-title><br>
            <ion-item slot="end">
              <ion-label>Curso:{{ nrc}},{{ course}} </ion-label>   
            </ion-item>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
    </ion-card>

    <ion-content>

      <ion-card>
        <form>
        <ion-item class="form-group">
          <ion-label position="floating"> id del Equipo </ion-label>
          <ion-input [(ngModel)]="equipo.id" name="id" autofocus></ion-input>
        </ion-item> 
        <ion-item class="form-group">
          <ion-label position="floating"> Nombre </ion-label>
          <ion-input [(ngModel)]="equipo.nombre" name="nombre" autofocus></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-toolbar>
            <ion-button   (click)="AlertSave(equipo.id, equipo.nombre, equipo.curso_nrc, nTrabajador)">
              <ion-label> Guardar </ion-label>
            </ion-button>
          </ion-toolbar>
        </ion-item>
        </form>
      </ion-card>
    
    </ion-content>

<ion-footer>
  <ion-toolbar color = "primary"></ion-toolbar>
</ion-footer>
