<ion-header>
  <ion-toolbar color = "primary">
    <ion-buttons>
      <ion-back-button slot = "start"> </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>

    <ion-card>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-menu-button (click)="OpenMenuProf()" color = "primary" autoHide="false" menu="MenuProf"></ion-menu-button>
            <ion-title> Editar equipo </ion-title><br>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
    </ion-card>

    
      <ion-card>
        <form>
        
        <ion-item class="form-group">
          <ion-label position="floating"> Nombre </ion-label>
          <ion-input [(ngModel)]="equipo.nombre" name="nombre" autofocus></ion-input>
        </ion-item>
        <ion-item class="form-group">
          <ion-label position="floating"> NRC </ion-label>
          <ion-input [(ngModel)]="equipo.correo" name="NRC" autofocus></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-footer>
            <ion-toolbar>    
              <ion-button slot="end" color="primary" > Guerdar  
                <ion-icon name="folder-outline"></ion-icon>
              </ion-button>    
            </ion-toolbar>  
          </ion-footer>
        </ion-item>
        </form>
      </ion-card>
    

  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar color = "primary"></ion-toolbar>
</ion-footer>
