<ion-header>
  <ion-toolbar color = "primary">
    <ion-buttons>
      <ion-button (click)="navProf()">
        <ion-icon name="arrow-undo"></ion-icon>
      </ion-button>
      <ion-avatar>
        <img src="https://www.cs.buap.mx/~secreacademica/images/minerva_icon.png">
      </ion-avatar>
      <ion-label >Usuario:{{nTrabajador}} </ion-label>      
    </ion-buttons>  
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>

    <ion-card>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-menu-button (click)="OpenMenuProf()" color = "primary" autoHide="false" menu="MenuProf"></ion-menu-button>
            <ion-title> Evaluar actividad </ion-title><br>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
    </ion-card>


   <ion-card-content>
    <ion-item>          
      <ion-label>Actividad:</ion-label>
      <select name="actividad" [(ngModel)]="actividad.nrc" name="nrc" >            
          <option [value]="actividad.id" *ngFor="let actividad of actividads">{{actividad.id}},{{ actividad.nombre}}</option>
      </select>                
    </ion-item> <br>
    <tr  *ngFor="let actividad of actividads" >            
      <ion-button color="light">&nbsp;        
        {{actividad.id}}, {{actividad.nombre}}, {{actividad.matricula}}, {{actividad.calificacion}}                                       
      </ion-button>&nbsp;                                                                     
    </tr> 
      <ion-button > Evaluar </ion-button><br><br>
   </ion-card-content>

  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar color = "primary"></ion-toolbar>
</ion-footer>
