<ion-header>
  <ion-toolbar color = "primary">
    <ion-buttons>
      <ion-button [routerLink]="'../../home-admi'">
        <ion-icon name="arrow-undo"></ion-icon>
      </ion-button>    
      <ion-avatar>
        <img src="https://www.cs.buap.mx/~secreacademica/images/minerva_icon.png">
      </ion-avatar>
      <ion-label >Usuario: Administrador</ion-label>    
    </ion-buttons>
  </ion-toolbar>
</ion-header>





<ion-content>
<ion-content
  [scrollEvents]="true"
  (ionScrollStart)="logScrollStart()"
  (ionScroll)="logScrolling($event)"
  (ionScrollEnd)="logScrollEnd()">
      
  <div class="ioncont" slot="fixed">
    <div class="cont">
      <ion-list>
        <ion-list-header *ngIf="boton==0">
          <h1 > Lista de Alumnos</h1>
        </ion-list-header>
        <tr  *ngFor="let student of students">
            <ion-item *ngIf="boton==0">
              {{student.nombre}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{student.matricula}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{student.correo}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{student.password}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <ion-button color="secondary" (click)="condicion(student)">Editar <ion-icon name="pencil"></ion-icon></ion-button>
              <ion-button color="danger" (click)="AlertOne(student.matricula, student)">Eliminar <ion-icon name="trash"></ion-icon></ion-button>        
            </ion-item>
        </tr>
      </ion-list>
    </div>

    <div class="container" *ngIf="boton==1">
      <div class="card">
        <img src="https://thumbs.dreamstime.com/b/colores-de-textura-cuero-artificial-color-azul-brillante-vista-superior-copiar-espacio-elegante-para-fondo-con-detalles-visibles-171422230.jpg">
        <div class="contenido">
          <ion-list>
            <ion-list-header>
              <h3>Estudiante: {{est.nombre}}</h3>
            </ion-list-header>
            <ion-item class="form-group">
              <ion-label position="floating"> Matricula </ion-label>
              <ion-input [(ngModel)]="est.matricula" name="matricula" autofocus readonly="true"></ion-input>
            </ion-item> 
            <ion-item class="form-group">
              <ion-label position="floating"> Nombre </ion-label>
              <ion-input [(ngModel)]="est.nombre" name="nombre" autofocus></ion-input>
            </ion-item>
            <ion-item class="form-group">
              <ion-label position="floating"> Correo </ion-label>
              <ion-input [(ngModel)]="est.correo" name="correo" autofocus></ion-input>
            </ion-item>
            <ion-item class="form-group">
              <ion-label position="floating"> Contraseña</ion-label>
              <ion-input [(ngModel)]="est.password" name="password" ></ion-input>
            </ion-item>
            <ion-item>
              <ion-toolbar>
                <ion-button  (click)="updateStudent(est.matricula, est)">
                  <ion-label> Actualizar </ion-label>
                </ion-button>
              </ion-toolbar>
            </ion-item>
            </ion-list>
        </div>
      </div>
    </div>


  </div>

</ion-content>
</ion-content> 

<ion-footer>
  <ion-toolbar color = "primary"></ion-toolbar>
</ion-footer>


