<ion-header>
  <ion-toolbar color = "primary">
    <ion-buttons>
      <ion-button>
        <ion-back-button slot = "start"> </ion-back-button>  
      </ion-button>    
      <ion-avatar>
        <img src="https://www.cs.buap.mx/~secreacademica/images/minerva_icon.png">
      </ion-avatar>
      <ion-label >Usuario: Administrador</ion-label>    
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<h1 slot="start"> Lista de Alumnos</h1>

<ion-content>
<ion-content
  [scrollEvents]="true"
  (ionScrollStart)="logScrollStart()"
  (ionScroll)="logScrolling($event)"
  (ionScrollEnd)="logScrollEnd()">
      
    <div slot="fixed">
      <ion-list>
      <tr  *ngFor="let student of students">

        {{student.matricula}} {{student.nombre}} {{student.correo}}  {{student.password}}

        <ion-button color="secondary" [routerLink]="['../edit-student', student.matricula]">Editar <ion-icon name="pencil"></ion-icon></ion-button>
        <ion-button color="danger" (click)="AlertOne(student.matricula, student)">Eliminar <ion-icon name="trash"></ion-icon></ion-button>        
    </tr>
  </ion-list>
  </div>

</ion-content>
</ion-content> 
<ion-card>
  <ion-item>
    <ion-button [routerLink]="'/home-admi/add-student'" color="secondary" slot="end">
      <ion-label> Agregar </ion-label>
      <ion-icon name="add-circle"></ion-icon>
    </ion-button>
    <ion-button slot="end" color="danger" (click)="AlertAll()">
      <ion-label> Eliminar Todo </ion-label>
      <ion-icon slot="end" name="trash"></ion-icon> 
    </ion-button>
  </ion-item>
</ion-card>

<ion-footer>
  <ion-toolbar color = "primary"></ion-toolbar>
</ion-footer>


