<ion-header>
  <ion-toolbar color = "primary">
    <ion-buttons>
      <ion-button (click)="navStud()">
        <ion-icon name="arrow-undo-outline"></ion-icon>
      </ion-button>      
      <ion-avatar>
        <img src="https://www.cs.buap.mx/~secreacademica/images/minerva_icon.png">
      </ion-avatar>
      <ion-label >Usuario: {{user}}</ion-label>
    </ion-buttons>
  </ion-toolbar>  
</ion-header>

<ion-card>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button (click)="OpenMenuStud()" color = "primary" autoHide="false" menu="MenuStud"></ion-menu-button>
        <ion-title> Avisos </ion-title><br>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
</ion-card>

<ion-content>
  <ion-content
    [scrollEvents]="true"
    (ionScrollStart)="logScrollStart()"
    (ionScroll)="logScrolling($event)"
    (ionScrollEnd)="logScrollEnd()">

    <div slot="fixed">
      <ion-card-content>
        
        <div class="contai" *ngIf="boton2==true">
          <div class="car">
            <ion-icon name="person-sharp" size="large"></ion-icon>
            <div class="conte">
              <h3>Avisos Curso</h3>
              <ion-button (click)="condicion1()" > Ver </ion-button>
            </div>
          </div>
        </div>
    
        <div class="contai" *ngIf="boton2==true">
          <div class="car">
            <ion-icon name="people-sharp" size="large"></ion-icon>
            <div class="conte">
              <h3>Avisos Equipo</h3>
              <ion-button (click)="condicion2()"> Ver </ion-button>
            </div>
          </div>
        </div>

        <div *ngIf="avisos.length >= 1 && boton == 2 || avisos.length >= 1 && boton == 1">
          <tr  *ngFor="let aviso of avisos">
    
            <div class="container" *ngIf="aviso.id_equipo==null && boton==2">
              <div class="card">
                <img src="https://thumbs.dreamstime.com/b/colores-de-textura-cuero-artificial-color-azul-brillante-vista-superior-copiar-espacio-elegante-para-fondo-con-detalles-visibles-171422230.jpg">
                <div class="contenido">
                  <ion-list>
                    <ion-list-header>
                      <ion-label>AVISO PARA TODO EL CURSO</ion-label>
                    </ion-list-header>
                    <ion-item>
                      <p>{{aviso.aviso}}</p>
                    </ion-item>
                    <ion-item>
                      <p>Publicado el {{aviso.fecha}} a las {{aviso.hora}}</p>
                    </ion-item>
                  </ion-list>
                </div>
              </div>
            </div>
          </tr>
          <tr *ngFor="let aviso of avisosEq">
      
            <div class="container" *ngIf="aviso.id_equipo!=null && boton==1">
              <div class="card">
                <img src="https://thumbs.dreamstime.com/b/colores-de-textura-cuero-artificial-color-azul-brillante-vista-superior-copiar-espacio-elegante-para-fondo-con-detalles-visibles-171422230.jpg">
                <div class="contenido">
                  <ion-list>
                    <ion-list-header>
                      <ion-label>Aviso para equipo {{equipos[aviso.id_equipo].nombre}}</ion-label>
                    </ion-list-header>
                    <ion-item>
                      <p>{{aviso.aviso}}</p>
                    </ion-item>
                    <ion-item>
                      <p>Publicado el {{aviso.fecha}} a las {{aviso.hora}}</p>
                    </ion-item>
                  </ion-list>
                </div>
              </div>
            </div>
          </tr>
        </div>
        <ion-label *ngIf="boton==1 || boton==2">{{alerta}}</ion-label>
        <ion-button *ngIf="boton==1 || boton==2"(click)="actualizar()">
          <ion-icon name="arrow-undo"></ion-icon>
        </ion-button>
      </ion-card-content>
    </div>
  </ion-content>
</ion-content>

<ion-footer>
  <ion-toolbar color = "primary"></ion-toolbar>
</ion-footer>
