<ion-header>
  <ion-toolbar color = "primary">
    <ion-buttons>
      <ion-button (click)="navProf()">
        <ion-icon name="arrow-undo"></ion-icon>
      </ion-button>
      <ion-avatar>
        <img src="https://www.cs.buap.mx/~secreacademica/images/minerva_icon.png">
      </ion-avatar>
      <ion-label >Usuario:{{user}} </ion-label>      
    </ion-buttons>  
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card>
      <ion-header>
        <ion-toolbar>
          <ion-buttons>
            <ion-menu-button (click)="OpenMenuProf()" color = "primary" autoHide="false" menu="MenuProf"></ion-menu-button>
            <ion-title> Subir estudiante </ion-title><br>
            <ion-item slot="end">
               <ion-label>Curso:{{ nrc}},{{ course}} </ion-label>            
            </ion-item>            
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
    </ion-card>


   <ion-card-content>
    <form (ngSubmit)="onSubmit()" #subirEstForm="ngForm">
      <div class="container">
        <div class="card">
          <img src="https://thumbs.dreamstime.com/b/colores-de-textura-cuero-artificial-color-azul-brillante-vista-superior-copiar-espacio-elegante-para-fondo-con-detalles-visibles-171422230.jpg">
          <div class="contenido">
            <ion-list>
              <ion-list-header>
                <h3 class="title">Subir Estudiante</h3>
              </ion-list-header>
              <ion-item>
                <p>Seleccione la matricula del alumno:</p>
                <select name="miselect" [(ngModel)]="subirEst.matricula" name="matricula" >            
                  <option [value]="student.matricula" *ngFor="let student of students">Matricula: {{student.matricula}}, Nombre: {{ student.nombre}}</option>
                </select>
              </ion-item>
              <ion-item>
                <tr *ngFor="let stud of students">
                  <div *ngIf=" stud.matricula == subirEst.matricula">
                    <ion-list>
                      <ion-list-header>
                        Infromacion del estudiante:
                      </ion-list-header>
                      <ion-item>
                        <p>Nombre: {{stud.nombre}}</p>
                      </ion-item>
                      <ion-item>
                        <p>Matricula: {{stud.matricula}}</p>
                      </ion-item>
                      <ion-item>
                        <p>Correo: {{stud.correo}}</p>
                      </ion-item>
                    </ion-list>
                  </div>
                </tr>
              </ion-item>
            </ion-list><br>
            <ion-button slot="end"   (click)=" getMAT(user, subirEst.matricula, nrc)">
              <ion-label> Subir Estudiante </ion-label>
            </ion-button> 
          </div>
        </div>
      </div>
    </form>
  </ion-card-content>
</ion-content>

<ion-footer>
  <ion-toolbar color = "primary"></ion-toolbar>
</ion-footer>
