<ion-header>
  <ion-toolbar color = "primary">
    <ion-buttons>
      <ion-button [routerLink]="['/home-stud/menu-student/menu-student', user, nrc, curso, nTrabajador]">
        <ion-icon name="arrow-undo-outline"></ion-icon>
      </ion-button>     
      <ion-avatar>
        <img src="https://www.cs.buap.mx/~secreacademica/images/minerva_icon.png">
      </ion-avatar> 
      <ion-label >Usuario: {{user}}</ion-label>
    </ion-buttons>
  </ion-toolbar>  
</ion-header>


  <ion-card>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button (click)="OpenMenuStud()" color = "primary" autoHide="false" menu="MenuStud"></ion-menu-button>
          <ion-title> Reportes </ion-title><br>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
  </ion-card> 
<!------------------------------------------------------------------------------------------------------->
  <ion-content>    

    <div *ngIf="reporte == true;"> <!-- Interfaz para ver reporte-->
              
      <ion-content
        [scrollEvents]="true"
        (ionScrollStart)="logScrollStart()"
        (ionScroll)="logScrolling($event)"
        (ionScrollEnd)="logScrollEnd()">
        
            
          <div slot="fixed">
            <ion-list>

              <ion-item>
                <ion-title>  Reporte de actividades </ion-title>
                <ion-button color="danger"(click)="close()">
                  <ion-icon name="close-sharp"></ion-icon>
                </ion-button>
              </ion-item>

              <tr  *ngFor="let actividad of actividads">                
                <div *ngIf="nrc == actividad.nrc && nTrabajador == actividad.noTrabajador">                    
                  
                    <ion-card>

                      <ion-item color="primary">         
                        <ion-title>{{actividad.nombre}}</ion-title>           
                        <ion-label>{{curso}}</ion-label>
                      </ion-item>

                      <ion-item>
                        {{actividad.id}}<br>
                        {{actividad.nombre}}<br>
                        {{actividad.descripcion}}<br>
                        fecha de actividad: {{ actividad.fecha}}<br>
                        fecha de entrega: {{ actividad.fechaEntrega}}<br>
                        Hora de entrega: {{ actividad.horaEntrega}}<br>
                        Profesor: {{actividad.noTrabajador}}<br>
                        nrc: {{ actividad.nrc}}<br>
                        id Equipo: {{actividad.id_equipo}}<br>
                        calificacion: {{actividad.calificacion}}<br>
                        matricula: {{actividad.matricula}}<br>    
                        actividad del profesor: {{actividad.urlProfesor}}<br>                         
                        actividad entregada: no  <br>                        
                        actividad entregada: {{actividad.urlEstudiante}}<br>                        
                        fecha de actividad entregada: {{actividad.fechaEstudiante}}<br>
                        comentarios del profesor: {{actividad.comentarioProfesor}}<br>
                      </ion-item><br><br>

                      <ion-lits>
                        actividad en proceso: <br>
                        <div *ngIf="actividad.urlEstudiante == ''">
                          actividad entregada: no.
                        </div>
                        <div *ngIf="actividad.calificacion <= 5 ">
                          calificacion: {{actividad.calificacion}} no aprovatoria.
                        </div>
                        <div *ngIf="actividad.calificacion >= 5 ">
                          calificacion: {{actividad.calificacion}} aprovatoria.
                        </div>
                        <br>
                      </ion-lits>

                      <br>
                    </ion-card>
                                               
                </div>                               
              </tr>
            </ion-list>    
          </div>
      </ion-content>                      
    </div>
    
    <div *ngIf="lista == true"> <!-- Liste de cursos -->
    <ion-content
      [scrollEvents]="true"
      (ionScrollStart)="logScrollStart()"
      (ionScroll)="logScrolling($event)"
      (ionScrollEnd)="logScrollEnd()">
          
      <div slot="fixed">
        <ion-list>
          <tr  *ngFor="let cursoEs of eCursos" >           
            <div *ngIf="cursoEs.matricula == user;">                   
                <tr *ngFor="let course of courses">  
                  <div *ngIf="course.nrc == cursoEs.nrc">
                    <ion-item>
                      <ion-button (click)="report(cursoEs.nrc,course.materia,cursoEs.nTrabajador)"> Generar reporte                  
                        <ion-icon name="document-text-sharp"></ion-icon>
                     </ion-button>    
                      <ion-title >&nbsp; NRC:{{cursoEs.nrc }}, Materia:{{course.materia }}, Profesor:{{ cursoEs.nTrabajador }}  </ion-title>       
                    </ion-item>                 
                  </div> 
                </tr>                
            </div>     
          </tr>
        </ion-list>
      </div>
    </ion-content>
    </div>    

  </ion-content>
<!-------------------------------------------------------------------------------------------------------->
<ion-footer>
  <ion-toolbar color = "primary"></ion-toolbar>
</ion-footer>
