

<ion-header>
  <ion-toolbar color = "primary">
    <ion-buttons>
      <ion-button (click)="navProf()">
        <ion-icon name="arrow-undo"></ion-icon>
      </ion-button>
      <ion-avatar>
        <img src="https://www.cs.buap.mx/~secreacademica/images/minerva_icon.png">
      </ion-avatar>
      <ion-label >Usuario:{{user}} </ion-label>      
    </ion-buttons>  
  </ion-toolbar>
</ion-header>


    <ion-card>
      <ion-header>
        <ion-toolbar>
          <ion-buttons>
            <ion-menu-button (click)="OpenMenuProf()" color = "primary" autoHide="false" menu="MenuProf"></ion-menu-button>
            <ion-title> lista de alumnos </ion-title><br>
            <ion-item slot="end">
              <ion-label>Curso:{{ nrc}},{{ curso}} </ion-label>   
            </ion-item>            
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
    </ion-card>

<!----------------------------------------------------------------------------->

<ion-content>
  <ion-content
    [scrollEvents]="true"
    (ionScrollStart)="logScrollStart()"
    (ionScroll)="logScrolling($event)"
    (ionScrollEnd)="logScrollEnd()">
        
    <div slot="fixed">        
        
        <tr *ngFor="let studCourse of studCourses" >            
              <ion-button color="white">&nbsp;        
                      
                    <tr *ngFor="let student of students">
                      <div *ngIf="studCourse.matricula == student.matricula">
                        <tr *ngFor="let course of courses">
                          <div *ngIf=" studCourse.nrc == course.nrc">
                            <ion-list>
                              <ion-item>
                                Nombre: {{student.nombre}} | Matricula: {{studCourse.matricula}} 
                                <ion-button color="danger" (click)="AlertOne(studCourse.matricula,studCourse.nrc,studCourse.nTrabajador)">                                          
                                  <ion-icon name="trash"></ion-icon>
                                </ion-button>
                              </ion-item>
                            </ion-list>
                          </div>
                        </tr>                                                
                      </div>
                    </tr>                                      
              </ion-button>&nbsp;                                                                     
        </tr> 

    </div>
  </ion-content>
  </ion-content>

<ion-footer>
  <ion-toolbar color = "primary"></ion-toolbar>
</ion-footer>
