<ion-header>
  <ion-toolbar color = "primary">
    <ion-buttons>
      <ion-button [routerLink]="'/home'">
        <ion-icon name="arrow-undo"></ion-icon>
      </ion-button>
      <ion-label >Usuario: {{user}}</ion-label>
    </ion-buttons>  
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">            
            <ion-title> Profesor </ion-title><br>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
    </ion-card>
    <ion-card>
        <h1> Gestionar curso </h1> <br>
        <ion-button [routerLink] = "'../home-prof/crear-curso'">   Crear curso   </ion-button>
        <ion-button [routerLink] = "'../home-prof/consultar-curso'">   Consultar cursos   </ion-button>
        <ion-button [routerLink] = "'../home-prof/eliminar-curso'">   Eliminar curso   </ion-button><br><br>
    </ion-card>

  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar color = "primary"></ion-toolbar>
</ion-footer>
