<ion-header>
  <ion-toolbar color = "primary">
    <ion-buttons>
      <ion-button [routerLink]="'/home'">
        <ion-icon name="arrow-undo"></ion-icon>
      </ion-button>
      <ion-avatar>
        <img src="https://www.cs.buap.mx/~secreacademica/images/minerva_icon.png">
      </ion-avatar>
      <ion-label >Usuario: {{user}}</ion-label>
    </ion-buttons>  
  </ion-toolbar>
</ion-header>

    <ion-card>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">            
            <ion-title> Profesor </ion-title><br>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
    </ion-card>
<ion-content>    
        <h1> Gestionar curso </h1> <br>
        <div class="ioncont">
          <div class="contai">
            <div class="car">
              <ion-icon name="layers-sharp" size="large"></ion-icon>
              <ion-icon name="add-sharp" size="large"></ion-icon>
              <div class="conte">
                <h3>Crear Curso</h3>
                <ion-button [routerLink] = "['../home-prof/create-course',user]"> Crear </ion-button>
              </div>
            </div>
          </div>
    
          <div class="contai">
            <div class="car">
              <ion-icon name="layers-sharp" size="large"></ion-icon>
              <ion-icon name="search-sharp" size="large"></ion-icon>
              <div class="conte">
                <h3>Consultar Cursos</h3>
                <ion-button [routerLink] = "['../home-prof/consult-course',user]"> Consultar </ion-button>
              </div>
            </div>
          </div>
  
          <div class="contai">
            <div class="car">
              <ion-icon name="layers-sharp" size="large"></ion-icon>
              <ion-icon name="trash-sharp" size="large"></ion-icon>
              <div class="conte">
                <h3>Eliminar Curso</h3>
                <ion-button [routerLink] = "['../home-prof/delete-course',user]"> Eliminar </ion-button>
              </div>
            </div>
          </div>
  
        </div>

</ion-content>

<ion-footer>
  <ion-toolbar color = "primary"></ion-toolbar>
</ion-footer>
