<ion-header>
  <ion-toolbar color = "primary">
    <ion-buttons>
      <ion-button [routerLink]="['/home-stud',user]">
        <ion-icon name="arrow-undo-outline"></ion-icon>
      </ion-button>    
      <ion-avatar>
        <img src="https://www.cs.buap.mx/~secreacademica/images/minerva_icon.png">
      </ion-avatar>  
      <ion-label >Usuario: {{user}}</ion-label>
    </ion-buttons>
  </ion-toolbar>  
</ion-header>

<ion-card>
  <h1>Cursos</h1>
</ion-card>

<ion-content>
<ion-content
  [scrollEvents]="true"
  (ionScrollStart)="logScrollStart()"
  (ionScroll)="logScrolling($event)"
  (ionScrollEnd)="logScrollEnd()">
      
    <div slot="fixed">
      
      <tr  *ngFor="let cursoEs of eCursos" >           
        <div *ngIf="cursoEs.matricula == user;">     
          <ion-card>              
            <tr *ngFor="let course of courses">  
              <div *ngIf="course.nrc == cursoEs.nrc">
                <ion-item>
                  <ion-button  [routerLink]="['../../menu-student', user, cursoEs.nrc, course.materia,cursoEs.nTrabajador]" > curso                  
                    &nbsp;<ion-icon name="eye-outline"></ion-icon>
                 </ion-button>

                  <ion-title >&nbsp; NRC:{{cursoEs.nrc }}, Materia:{{course.materia }}, Profesor:{{ cursoEs.nTrabajador }}  </ion-title>                  

                </ion-item>                 
              </div> 
            </tr>               
          </ion-card>          
        </div>     
    </tr>
  
  </div>
</ion-content>
</ion-content> 

<ion-footer>
  <ion-toolbar color = "primary"></ion-toolbar>
</ion-footer>
